.card-movie {
  height: 575px;
  width: 374px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.card-movie:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#image {
  height: 513px;
  width: 342px;
  object-fit: cover;
}
